@model List<PortalCG.Models.JsonModels.Course>
@{
    ViewBag.Title = "Início";
    const int ITEM_PER_ROW = 3;
}
@if (Model?.Count > 0)
{
    var countGroupped = (Model.Count / ITEM_PER_ROW) + Model.Count % ITEM_PER_ROW != 0 ? 1 : 0;
    for (int i = 0; i < countGroupped; i++)
    {
        var modelGroupped = Model.Skip(i * ITEM_PER_ROW).Take(ITEM_PER_ROW).ToList();
        <div class="row">
            @foreach (var item in modelGroupped)
            {
                <div class="col-md-@(12/ITEM_PER_ROW)">
                    @Html.Partial("_CoursePartial", item)
                </div>
            }
        </div>
    }
}