@model PortalCG.Models.JsonModels.Teacher
@{
    Layout = null;
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <a class="caption-subject bold uppercase font-blue-steel" href="#">
                @Model.Nome
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="course-content">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ModContrato, new { @class = "bold" })
                </div>
                <div class="col-md-8">
                    @Model.ModContrato
                </div>
            </div>
        </div>
        <div class="course-buttons">
            <div class="row">
                <br />
                <div class="col-md-12">
                    @if (Model.ShowDisciplines)
                    {
                        <a href="#" class="btn blue btn-xs">Disciplinas</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
